
{% load i18n %}

<button type="submit" class="btn btn-primary">{% trans "Suivant" %}</button>
{% if cancel_url %}
  <a href="{{ cancel_url }}" class="mt-3 ml-3">{% trans "Annuler" %}</a>
{% endif %}
