<!-- This templates replaces the default django-two-factor-auth template at two_factor/core/login.html -->
{% extends "base_generic.html" %}

{% load bootstrap4 %}
{% load i18n %}
{% load static %}

{% block stylesheets%}
  <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'css/login.css' %}">

  <style>
    {% if customization.background_image.url %}
      #login-content {
          background-image: url("{{ customization.background_image.url }}");
      }
    {% else %}
      #login-content {
            background-image: url("{% static 'images/login_geocity.svg' %}");
      }
    {% endif %}
  </style>
{% endblock %}
{% block navbar %}{% endblock %}
{% block content-fluid %}
  <div id="login-content">
    <div class="login-welcome-text">
      <h3>{{ customization.application_title|safe }}</h3>
      <h5>{{ customization.application_subtitle|safe }}</h5>
      <div class="login-description">{{ customization.application_description|safe }}</div>
    </div>
    <div id="login-container">
  {% if next and user.is_authenticated %}
    <div>
      <p id="login-issue">{% trans "Votre compte ne dispose pas des droits nécessaires pour accéder à cette page" %}</p>
    </div>
  {% endif %}

  {% if wizard.steps.current == 'auth' %}
    {% if form.errors %}
      <div class="mt-3">
        <p class="text-danger font-weight-bold">{% trans "Votre mot de passe et votre nom d'utilisateur ne correspondent pas" %}</p>
      </div>
    {% endif %}
  {% endif %}
  {% if wizard.steps.current == 'auth' %}
    <form method="post" action="">
      {% csrf_token %}
      <div>
        <h4>{% trans "Connexion" %}</h4>
        {{ wizard.management_form }}
        <p>{% trans "Connectez-vous à l'aide de vos identifiants" %}</p>
        <p>{% bootstrap_field wizard.form.username show_label=False placeholder="Identifiant" %}</p>
        <p>{% bootstrap_field wizard.form.password show_label=False placeholder="Mot de passe" %}</p>
        <button id="login_button" class="btn btn-primary font-weight-bold left-button" type="submit">{% trans "ME CONNECTER" %}</button>
        <br>
      </div>
      {# hidden submit button to enable [enter] key #}
      <input type="submit" value="" class="d-none" />
    </form>
    <br>
    <div>
      <a class="form-text" href="{% url 'accounts:user_profile_create' %}{% if query_string %}?{{query_string}}{% endif %}">{% trans "Créer un compte" %}</a>
      <a class="form-text" href="{% url 'password_reset' %}">{% trans "Perdu votre mot de passe ?" %}</a>
    </div>
    {% include "registration/_social_login.html" %}
  {% elif wizard.steps.current == 'token' %}
    <p>{% trans "Veuillez entrer votre jeton (code à usage unique, code SMS)" %}</p>
    <form method="post" action="">
      {% csrf_token %}
      {% include "two_factor/_wizard_forms.html" %}
      {% include "two_factor/_wizard_actions.html" %}
      {% if backup_tokens %}
        <p class="mt-4">{% trans "As a last resort, you can use a backup token:" %}</p>
        <p>
          <button name="wizard_goto_step" type="submit" value="backup"
                  class="btn btn-secondary btn-block">{% trans "Use Backup Token" %}</button>
        </p>
      {% endif %}
    </form>
  {% elif wizard.steps.current == 'backup' %}
    <p>{% blocktrans trimmed %}Use this form for entering backup tokens for logging in.
      These tokens have been generated for you to print and keep safe. Please
      enter one of these backup tokens to login to your account.{% endblocktrans %}</p>
    <form method="post" action="">
      {% csrf_token %}
      {% include "two_factor/_wizard_forms.html" %}
      {% include "two_factor/_wizard_actions.html" %}
    </form>
  {% endif %}
    </div>
  </div>
{% endblock %}
