<!-- This templates replaces the default django-two-factor-auth template at two_factor/core/setup_complete.html -->
{% extends "two_factor/_base_focus.html" %}
{% load i18n %}

{% block content %}
  <h1>{% block title %}{% trans "Enable Two-Factor Authentication" %}{% endblock %}</h1>

  <p>{% blocktrans trimmed %}Congratulations, you've successfully enabled two-factor
      authentication.{% endblocktrans %}</p>

  {% if not phone_methods %}
    <p class="d-flex flex-column flex-md-row">
      <a href="{% url 'two_factor:profile' %}"
        class="btn btn-primary m-1">{% trans "Back to Account Security" %}</a>
      <a class="btn btn-primary m-1" href="{% url 'submissions:submissions_list' %}" role="button">
        {% trans "Voir mes demandes" %}
      </a>
      <a class="btn btn-primary m-1" href="{% url 'submissions:submission_select_administrative_entity'%}" role="button">
        <i class="fa fa-plus"></i> {% trans "Créer une nouvelle demande" %}
      </a>
    </p>
  {% else %}
    <p>{% blocktrans trimmed %}However, it might happen that you don't have access to
      your primary token device. To enable account recovery, add a phone
      number.{% endblocktrans %}</p>

    <a href="{% url 'two_factor:profile' %}"
        class="float-right btn btn-link">{% trans "Back to Account Security" %}</a>
    <p><a href="{% url 'two_factor:phone_create' %}"
        class="btn btn-success">{% trans "Add Phone Number" %}</a></p>
  {% endif %}

{% endblock %}
