<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html lang="fr">
<head>
  {% load static %}
  {% load i18n %}
  <meta http-equiv="content-type" content="text/html; charset=utf-8">
<title>Geocity</title>
{% block stylesheets%}
  <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
{% endblock %}
</head>
<body class="error-page">
  <p>
    <h2>{% trans "Quelque chose n'a pas fonctionné!" %}</h2>
    <h3>{% trans "Cette page n'existe pas" %}</h3>
  </p>
  <img src="{% static 'images/errors/404.gif'%}" type="image/gif">

</body>
</html>
