<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="referrer" content="strict-origin-when-cross-origin">
    <title>{% block title %}{% endblock %}Geocity</title>
    {% load static %}
    {% load i18n %}
    {% load bootstrap4 %}
    {% load submissions_extras %}
    {% bootstrap_css %}
    {% bootstrap_javascript jquery='full' %}
    {% block script %}
      <script src="https://use.fontawesome.com/006d51a83c.js"></script>
      <script
        type="text/javascript"
        src="{% static "django_tables2_column_shifter/js/django_tables2_column_shifter.min.js" %}">
      </script>
      <script src="{% static "js/search.js" %}"></script>
    {% endblock %}
    {% block stylesheets %}
      <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
    {% endblock %}
    <link rel="icon" href="{% static 'images/favicon.ico'%}" type="image/svg" sizes="16x16">
    <style>
      :root {
      --background-color: {{ config.BACKGROUND_COLOR }};
      --primary-color: {{ config.PRIMARY_COLOR }};
      --secondary-color: {{ config.SECONDARY_COLOR }};
      --text-color: {{ config.TEXT_COLOR }};
      --title-color: {{ config.TITLE_COLOR }};
      --table-color: {{ config.TABLE_COLOR }};
      --login-background-color:{{ config.LOGIN_BACKGROUND_COLOR }};
      }
    </style>
  </head>

  <body class="d-flex flex-column min-vh-100">

    <header class="header_navigation" id="banner">
      <!-- Navbar -->
      {% block navbar %}
        <nav class="navbar navbar-expand-md navbar-light bg-light mb-4 sticky-top">
          <div class="navbar-brand d-flex align-items-center">
              <img src={% static "images/geocity_normal.svg" %} style="vertical-align:baseline" alt="logo" height="16"/>
          </div>

          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-toggle" aria-controls="navbar-toggle" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>

          {% if user.is_authenticated and not user.userprofile.is_temporary %}
            <div class="collapse navbar-collapse navbar-toggle">
              <ul class="navbar-nav mr-auto">
                <li class="nav-item d-flex align-items-center">
                    <a href="{% url 'submissions:submissions_list' %}" role="button">
                      <i class="fa fa-list-ul" aria-hidden="true"></i>
                      {% trans "Mes demandes" %}
                    </a>
                </li>
                {% can_archive as can_archive %}
                {% if can_archive %}
                  <li class="nav-item d-flex align-items-center">
                      <a href="{% url 'submissions:archived_submission_list' %}" role="button">
                        <i class="fa fa-archive" aria-hidden="true"></i>
                        {% trans "Demandes archivées" %}
                      </a>
                  </li>
                {% endif %}
                  {% if config.ENABLE_GEOCALENDAR %}
                    <li class="nav-item d-flex align-items-center">
                      <a href="{{ config.GEOCALENDAR_URL }}" target="_blank" rel="noreferrer" role="button">
                        <i class="fa fa-calendar aria-hidden="true"></i>
                        {% trans "Calendrier" %}
                      </a>
                    </li>
                  {% endif %}

                  {% if group.permit_department.administrative_entity.archive_link %}
                <li class="nav-item d-flex align-items-center">
                  {% with request.user.groups.all|first as group %}
                    {% if group.permit_department.administrative_entity.archive_link != '' %}
                      {% if request.user.groups.all.count > 0 %}
                        <a class="btn btn-outline-primary" href="{{group.permit_department.administrative_entity.archive_link}}" role="button" target="_blank" rel="noreferrer">
                          <i class="fa fa-archive"></i>
                          {% trans "Archives" %}</a>
                      {% endif %}
                    {% endif %}
                  {% endwith %}

                {% endif %}
              </ul>
              <ul class="navbar-nav ml-auto">
                <li class="nav-item d-flex align-items-center">
                  <div class="global-search-form-container">
                    <form  class="navbar-form navbar-right" method="get" action="{% url 'submissions:submissions_search' %}" id="global-search-form">
                      <input data-role="search-input" placeholder="{% trans "Recherche…" %}" type="text" name="search" class="w-100 search-input form-control" autocomplete="off">
                      <div data-role="search-results" class="search-results-container"></div>
                    </form>
                  </div>
                </li>
                <li class="nav-item d-flex align-items-center" title="{% trans 'Imprimer cette page' %}">
                  <a href="javascript:window.print()" class="text-secondary" role="button">
                    <i class="fa fa-print" aria-hidden="true"></i>&nbsp;{% trans "Imprimer" %}
                  </a>
                </li>
                <li class="nav-item d-flex align-items-center login-navbar-desktop">
                    <a class="nav-link dropdown-toggle ml-auto" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      <i class="fa fa-user"></i>
                      {% block connected_user %}<b>{{ user.get_username }}</b>{% endblock %}
                    </a>
                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
                      {% if user.is_staff %}
                      <a class="dropdown-item" href="{% url 'admin:index' %}">{% trans "Interface d'administration" %}</a>
                      <div class="dropdown-divider"></div>
                      {% endif %}
                      <a class="dropdown-item" href="{% url 'accounts:user_profile_edit' %}">{% trans "Gérer mon compte" %}</a>
                      {% if ENABLE_2FA %}
                      <a class="dropdown-item" href="{% url 'two_factor:profile' %}">{% trans "Gérer la sécurité de mon compte" %}</a>
                      {% endif %}
                      {% if not user.socialaccount_set.exists %}
                      <a class="dropdown-item" href="{% url 'accounts:password_change' %}">{% trans "Modifier mon mot de passe" %}</a>
                      {% endif %}
                      <div class="dropdown-divider"></div>
                      <form method="post" action="{% url 'accounts:logout' %}">
                        {% csrf_token %}
                        <button class="btn dropdown-item">
                          {% trans "Me déconnecter" %}
                        </button>
                      </form>
                  </div>
                </li>
                <li class="nav-item d-flex align-items-center login-navbar-mobile">
                   <!-- On mobile -->
                  <div class="collapse navbar-collapse navbar-toggle" id="navbarNavDropdown">
                    <ul class="navbar-nav d-flex d-md-none">
                      {% if user.is_staff %}
                      <li class="nav-item">
                        <a class="nav-link" href="{% url 'admin:index' %}">{% trans "Interface d'administration" %}</a>
                      </li>
                      <div class="dropdown-divider"></div>
                      {% endif %}
                      <li class="nav-item">
                        <a class="nav-link" href="{% url 'accounts:user_profile_edit' %}">{% trans "Gérer mon compte" %}</a>
                      </li>
                      {% if ENABLE_2FA %}
                      <li class="nav-item">
                        <a class="nav-link" href="{% url 'two_factor:profile' %}">{% trans "Gérer la sécurité de mon compte" %}</a>
                      </li>
                      {% endif %}
                      {% if not user.socialaccount_set.exists %}
                      <li class="nav-item">
                        <a class="nav-link" href="{% url 'accounts:password_change' %}">{% trans "Modifier mon mot de passe" %}</a>
                      </li>
                      {% endif %}
                      <div class="dropdown-divider"></div>
                      <li class="nav-item">
                        <form method="post" action="{% url 'accounts:logout' %}">
                          {% csrf_token %}
                          <button class="btn btn-block text-left nav-link">
                            {% trans "Me déconnecter" %}
                          </button>
                        </form>
                      </li>
                    </ul>
                  </div>
                </li>

              </ul>
            </div>
          {% endif %}

        </nav>

      {% endblock %}
    </header>

      {% if messages %}
        <div class="container-fluid mb-4">
          {% for message in messages %}
            <div class="alert
              {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
              alert-danger
              {% elif message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
              alert-success
              {% elif message.level == DEFAULT_MESSAGE_LEVELS.WARNING %}
              alert-warning
              {% elif message.level == DEFAULT_MESSAGE_LEVELS.INFO %}
              alert-info
              {% endif %}
              ">{{ message }}</div>
          {% endfor %}
        </div>
      {% endif %}

      <div class="container mb-0 px-3 px-md-0">
        {% block content %}{% endblock %}
      </div>

      <div class="container-fluid">
        {% block content-fluid %}{% endblock %}
      </div>

      <footer class="flex-shrink-0 py-2 bg-light text-dark mt-auto">
        <div class="container text-center">
          <small>
            &copy; {% now "Y" %} Geocity
            &nbsp;|&nbsp;
            <a href="https://geocity.ch/about" target="_blank" rel="noreferrer">{% trans "A propos" %}</a>
            {% if config.CONTACT_URL %}
              &nbsp;|&nbsp;
              <a href="{{ config.CONTACT_URL }}" target="_blank" rel="noreferrer">{% trans "Contact" %}</a>
            {% endif %}
            {% if config.GENERAL_CONDITIONS_URL %}
              &nbsp;|&nbsp;
              <a href="{{ config.GENERAL_CONDITIONS_URL }}" target="_blank" rel="noreferrer">{% trans "Conditions" %}</a>
            {% endif %}
            {% if config.PRIVACY_POLICY_URL %}
              &nbsp;|&nbsp;
              <a href="{{ config.PRIVACY_POLICY_URL }}" target="_blank" rel="noreferrer">{% trans "Confidentialité" %}</a>
            {% endif %}
          </small>
        </div>
      </footer>

      {% block scripts %}{% endblock %}


  </body>
</html>
