{% load i18n %}
{% load submissions_extras %}

<ul class="list-inline text-right">
  {% can_download_archive as can_download %}
  {% if can_download %}
    <li>
      <a title="{% trans "Télécharger la demande" %}" href="{% url 'submissions:archived_submission_download' record.pk %}">
        <i class="fa fa-download fa-lg"></i>
      </a>
    </li>
  {% endif %}
  {% if record.archivist == request.user or request.user.is_superuser %}
    <li>
      <a title="{% trans "Supprimer la demande" %}" href="{% url 'submissions:archived_submission_delete' record.pk %}">
        <i class="fa fa-trash fa-lg"></i>
      </a>
    </li>
  {% endif %}
</ul>
