/* roboto-regular - latin */
@font-face {
  font-family: Roboto;
  font-weight: bold;
  font-style: normal;
  font-display: swap;
  src: url('../fonts/Roboto-Bold.woff2') format('woff2'),
    url('../fonts/Roboto-Bold.woff') format('woff');
}

@font-face {
  font-family: Roboto;
  font-weight: normal;
  font-style: italic;
  font-display: swap;
  src: url('../fonts/Roboto-Italic.woff2') format('woff2'),
    url('../fonts/Roboto-Italic.woff') format('woff');
}

@font-face {
  font-family: Roboto;
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  src: url('../fonts/Roboto-Regular.woff2') format('woff2'),
    url('../fonts/Roboto-Regular.woff') format('woff');
}

@font-face {
  font-family: Roboto;
  font-weight: lighter;
  font-style: normal;
  font-display: swap;
  src: url('../fonts/Roboto-Light.woff2') format('woff2'),
    url('../fonts/Roboto-Light.woff') format('woff');
}

body {
  color: var(--text-color);
  background-color: var(--background-color);
  font-family: "Roboto", "Helvetica", "Arial";
}

/* Global boostrap4 styling  */

.btn {
  border-radius: 0;
}

.btn a {
  color: var(--primary-color);
}

.btn-action {
  border-top-left-radius: 6px !important;
  border-top-right-radius: 6px !important;
}

.outer-button {
  border-right: 4px solid white;
}

.btn-primary {
  color: #fff;
  background-color: var(--primary-color);
  border-color: #005a5a;
}
.btn-primary:hover {
  color:#fff;
  background-color: #005846;
  border-color: var(--secondary-color);
}
.btn-primary:focus,.btn-primary.focus {
  box-shadow: 0 0 0 .2rem rgba(0,90,90,0.5);
}
.btn-primary.disabled,
.btn-primary:disabled {
  color:#fff;
  background-color: var(--primary-color);
  border-color: var(--secondary-color);
}
.btn-primary:not(:disabled):not(.disabled):active,
.btn-primary:not(:disabled):not(.disabled).active,
.show>.btn-primary.dropdown-toggle {
  color:#000;
  background-color: #c2f8ec;
  border-color: #000;
}
.btn-primary:not(:disabled):not(.disabled):active:focus,
.btn-primary:not(:disabled):not(.disabled).active:focus,
.show>.btn-primary.dropdown-toggle:focus {
  box-shadow: 0 0 0 0 rgba(0,90,90,0.5);
}

.btn-outline-primary {
  color: var(--primary-color);
  background-color: transparent;
  background-image: none;
  border-color: var(--primary-color);
}
.btn-outline-primary:hover {
  color:#222;
  background-color:var(--hover-color);
  border-color: var(--primary-color);
}
.btn-outline-primary:focus,
.btn-outline-primary.focus {
  box-shadow:0 0 0 .2rem rgba(0,128,128,0.5)
}
.btn-outline-primary.disabled,
.btn-outline-primary:disabled {
  color: var(--primary-color);
  background-color: transparent;
}
.btn-outline-primary:not(:disabled):not(.disabled):active,
.btn-outline-primary:not(:disabled):not(.disabled).active,
.show>.btn-outline-primary.dropdown-toggle {
  color:#fff;
  background-color:var(--primary-color);
  border-color: var(--secondary-color);
}
.btn-outline-primary:not(:disabled):not(.disabled):active:focus,
.btn-outline-primary:not(:disabled):not(.disabled).active:focus,
.show>.btn-outline-primary.dropdown-toggle:focus {
  box-shadow:0 0 0 .2rem rgba(0,128,128,0.5);
}


a {
  color: var(--primary-color);
}

a:hover {
  color: var(--secondary-color);
}

input:focus {
  box-shadow: none !important;
}

.form-control:focus {
  border-color: var(--primary-color) !important;
  box-shadow: 0 0 5px var(--primary-color) !important;
}

.table {
	color: var(--table-color);
}

.table tr:nth-child(odd) td {
  background-color: white;
}

.table tr:nth-child(even) td {
  background-color: rgb(245, 245, 245);
}

.table td {
  vertical-align: baseline;
}

.page-item.active .page-link {
  background-color: var(--primary-color);
  border-color: var(--primary-color);
}

.page-link:hover {
  color: var(--secondary-color);
}

.page-link {
  color: var(--primary-color);
}

/* App specific */
.required > label {
  font-weight: bold;
}

.required > label:after {
  content: " *";
}

.required > label.custom-control-label:after {
  content: "";
}

.required > label.custom-control-label > .asteriskField {
  display: initial;
}

.required > label.custom-control-label > .asteriskField:before {
  content: " ";
}

.app-list li {
  margin: 0 0 15px 0;
  list-style-type: none;
}

.info-messages {
  margin-top: 10px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 5px;
  min-height: 15px;
  color: #155760;
  display: inline-block;
  background-color: #d4edda;
  border: 2px solid #c3e6cb;
  border-radius: 5px;
}

.responsive-btn {
  width: 245px;
}

h1, h2, h3, h4, h5 {
  color: var(--title-color);
}

h1 {
  font-size: 1.7em;
}

h2 {
  font-size: 1.5em;
}

h3 {
  font-size: 1.3em;
}

h4 {
  font-size: 1.2em;
}

h5 {
  font-size: 1.1em;
}

.bold {
  font-weight: bold;
}

.progress-nav {
  display: flex;
  justify-content: center;
  list-style-type: none;
  flex-wrap: wrap;
  text-align: center;
  font-size: 0.9rem;
  margin: 0;
  padding: 0;
  max-width: 820px;
  margin: 0 auto;
}

.progress-nav-item {
  flex: 1 1 auto;
  width: 80px;
}

.progress-nav-item,
.progress-nav-item a {
  color: var(--text-color);
}

.progress-nav-item-active {
  font-weight: bold;
}

.progress-nav-item-active .circle {
  background-color: var(--primary-color);
}

.progress-nav-item-done .circle-inner {
  background-color: var(--primary-color);
  color: white;
}

.progress-nav-item-partial .circle-inner {
  background-color: #f1f4f8;
}

.navbar {
  padding-left: 5%;
  padding-right: 5%;
  background-color: rgb(245, 245, 245) !important;
}

.login-navbar-mobile {
  visibility: hidden;
}

.nav-item {
  margin-left: 0px;
  margin-right: 10px;
}

.navbar-light .navbar-brand {
	color: var(--primary-color)
}

.navbar-light .navbar-brand:hover{
	color: var(--secondary-color);
}

.circle {
  display: inline-block;
  width: 46px;
  height: 46px;
  border-radius: 100%;
  border: 1px solid #d5d5da;
  position: relative;
}

.circle-inner {
  position: absolute;
  top: 5px;
  left: 5px;
  width: 34px;
  height: 34px;
  line-height: 32px;
  border-radius: 100%;
  border: 1px solid transparent;
}

.pill {
  position: absolute;
  right: -5px;
  top: -5px;
  z-index: 1;
  border-radius: 100%;
  background-color: #1865b5;
  color: white;
  font-size: 0.7rem;
  width: 15px;
  height: 15px;
  line-height: 15px;
}

.list-inline {
  list-style: none;
  padding: 0;
  margin: 0;
}

.list-inline > li {
  display: inline-block;
}

.list-inline > li:not(:first-child) {
  margin-left: 7px;
}

.text-right {
  text-align: right;
}

.box {
  padding: 1rem;
}

.box--default {
  background-color: var(--light);
}

.box--tabbed {
  border-color: #dee2e6;
  border-width: 0 1px 1px 1px;
  border-style: solid;
}

#legal-infos {
  border: 1px solid var(--primary-color);;
  padding: 10px 10px 10px 10px;
  margin-bottom: 10px;
  text-align: justify;
}

.error-page {
  margin-left: 25%;
  width: 50%;
}

/* List view of demands */

#list-info-title {
  font-size: 20px;
  font-weight: bold;
}

#new-request-btn {
  margin-top: 10px;
}

.no-wildcard:after {
  content: "" !important;
}

.fa-trash {
  color: crimson;
}

.table-container {
  overflow-x: visible;
}

.table-container .table thead th {
  vertical-align: top;
}

.page-item:first-child .page-link {
  border-radius: 0;
}

.page-item:last-child .page-link {
  border-radius: 0;
}

th.actions {
  background-color: var(--primary-color);
  color: white;
  border-radius: 0;
  min-width: 150px;
}

.center-table {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

.permits-action-btns {
  display: flex;
  flex-direction: column;
}

.permits-action-btns a:not(:last-child) {
  margin-bottom: 10px;
}

.permits-action-btns a {
  margin-left: 0px;
}

/* Status styling */
[class^="status"] {
  color: black;
}

.status0 {
  /* STATUS_DRAFT */
  color: #DADBDF;
}
.status1 {
  /* STATUS_SUBMITTED_FOR_VALIDATION */
  color: #F88C52;
}
.status2 {
  /* STATUS_APPROVED */
  color: #008c6f;
}
.status3 {
  /* STATUS_PROCESSING */
  color: #2FA4A2;
}
.status4 {
  /* STATUS_AWAITING_SUPPLEMENT */
  color: #BD5947;
}
.status5 {
  /* STATUS_AWAITING_VALIDATION */
  color: #4285B0;
}
.status6 {
  /* STATUS_REJECTED */
  color: #DB5033;
}
.status7 {
  /* STATUS_RECEIVED */
  color: #A0B46F;
}

/* TRANSACTION STATUSES */
.statusunpaid {
  color: #bbbbbb;
}

.statuspaid {
  color: #ffc107;
}

.statusto_refund {
  color: #ffe493;
}

.statusrefunded {
  color: #fff0c5;
}

.statusfailed {
  color: #787878;
}

#validation_pdf {
  margin-top: 20px;
}

/* history timeline */

#history_timeline {
  margin-top: 20px;
}

#history_timeline li {
  list-style-type: none;
}

#history_timeline ul {
  float: left;
  width: 100%;
  padding: 0;
  margin: 0;
  margin-bottom: 20px;
}

#history_timeline ul li {
  padding-bottom: 10px;
  float: left;
  width: 100%;
  position: relative;
}

#history_timeline ul li:before {
  content: '';
  position: absolute;
  top: 10px;
  width: 1px;
  height: 100%;
  left: 6px;
  background: rgb(200, 200, 200);
  z-index: -1;
}

#history_timeline ul li:last-child:before {
  display: none;
}

/* /////////////////////////////////// */
/* Responsive for smaller devices */
/* /////////////////////////////////// */


@media (min-width: 768px) {

  .login-navbar-mobile {
    visibility: hidden;
  }

  .global-search-form-container {
    width: 400px;
    min-width: 0;
  }

  #new-request-btn {
    margin-top: 0px;
    margin-left: 20px;
  }

  .permits-action-btns {
    flex-direction: row;
  }

  .permits-action-btns a:not(:last-child) {
    margin-bottom: 0px;
  }

  .permits-action-btns a:not(:first-child) {
    margin-left: 10px;
  }

  h1 {
    font-size: 2.5rem;
  }

  h2 {
    font-size: 2rem;
  }

  h3 {
    font-size: 1.75rem;
  }

  h4 {
    font-size: 1.5rem;
  }

  h5 {
    font-size: 1.3rem;
  }
}

@media (max-width: 768px) {

  .login-navbar-mobile {
    visibility: visible;
  }

  .login-navbar-desktop {
    visibility: hidden;
  }

  .global-search-form-container {
    width: 100%;
    min-width: 0;
  }

  .nav-item {
    margin-bottom: 3px;
  }

  .progress-nav a {
    color: transparent;
  }

  .progress-nav-item {
    flex: 1 1 auto;
    width: 20px;
    height: 30px;
    color: transparent;
  }

  .circle {
    width: 25px;
    height: 25px;
    border-radius: 0;
  }

  .circle-inner {
    position: absolute;
    top: 0;
    left: 0;
    width: 22px;
    height: 22px;
    line-height: 15px;
    border-radius: 0;
    color: var(--title-color);
  }

  .pill {
    right: -8px;
    top: -8px;
    width: 15px;
    height: 15px;
    line-height: 15px;
  }

}

.search-results {
  width: 100%;
  max-height: 400px;

  position: absolute;
  top: -1px;
  z-index: 10;

  overflow-y: auto;
  background-color: white;
  border: 1px solid #ccc;
  border-top: none;
  box-shadow: 0 2px 6px #ccc;
}

.list {
  padding-left: 0;
  list-style-type: none;
}

.highlight {
  background-color: #f9fcd1;
}

.search-results-container {
  position: relative;
}

#global-search-form {
  width: 100%;
}

.asteriskField {
  display: none;
}

fieldset>legend {
  font-weight: bold;
}

h4.workObjectHeader {
  font-weight: normal;
}

.propertyTitle {
  font-weight: bold;
  margin-bottom: 0px;
}

.fa-check-circle {
  color:rgb(140, 199, 30);
}
.fa-clock-o {
  color:rgb(228, 168, 38);
}
.fa-times-circle {
  color:rgb(199, 30, 30);
}

/* list elements */
dl {
  display: flex;
  flex-flow: row wrap;
  width: 100%;
  overflow: hidden;
  padding: 0;
  margin: 0;
  border: solid #333;
  border-width: 0px;
}
dt {
  display: flex;
  flex-basis: 28%;
  flex-grow: 1;
  float: left;
  width: 28%;
  text-align: left;
  /* adjust the width; make sure the total of both is 100% */
  padding: 0;
  margin: 0;
}
dd {
  display: flex;
  flex-basis: 72%;
  flex-grow: 1;
  align-self: flex-start;
  float: left;
  width: 72%;
  text-align: left;
  /* adjust the width; make sure the total of both is 100% */
  padding: 0;
  margin: 0;
}

.properties-list dd {
  margin-bottom: 2px;
}

.properties-list ul {
  list-style-type: none;
  padding: 0;
  margin-bottom: 0;
}

.grid-container{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 2px;
  padding-bottom: 10px;
}

.grid-element {
  flex: 3;
  border: 0px solid green;
}

table.table thead th.orderable {
  background: url('../images/sort/sort_both.png') no-repeat;
  background-position: right 18px;
}
table.table thead th.asc {
  background: url('../images/sort/sort_asc.png') no-repeat;
  background-position: right 18px;
}
table.table thead th.desc {
  background: url('../images/sort/sort_desc.png') no-repeat;
  background-position: right 18px;
}

/* summary grid */
.status_display, .history_user {
  padding-left: 18px;
}

.row-1 {
  width: 200px;
}

.row-2 {
  width: 400px;
}

.row-header {
  border-bottom: 0px;
}

.sub-row {
  background-color: var(--light);
  border-bottom: white 10px solid;
}

.req-card {
  background-color: rgb(240, 242, 248);
  border: rgb(240, 240, 240) 8px solid;
}


.floating-elem {
  position: sticky;
  top: 0px;
}

.badge-beta {
  background-color: #000;
  font-weight: bold;
}


.badge-pill {
  font-size: 32%;
  vertical-align: top;
  position: relative;
  top: -0.1em;
}

img.captcha {
  margin-bottom: 5px;
}

.badge-pill-55 {
  font-size: 55%;
}

.display-none {
  display: none;
}

/* vertical divider, taken from https://codepen.io/Ruskyj/pen/PoOOZR */
.vertical-divider {
  position: absolute;
  display: table;
  text-align: center;

  height: 100%;
  width: 100%;
}
.vertical-divider .center-element {
  position: relative;
  display: table-cell;
  vertical-align: middle;
}
.vertical-divider .center-element:before, .vertical-divider .center-element:after {
  position: absolute;
  content: "";
  width: 1px;
  left: 50%;
  border-left: 1px solid black;
}
.vertical-divider .center-element:before {
  bottom: 50%;
  top: 0;
  margin-bottom: 20px;
}
.vertical-divider .center-element:after {
  top: 50%;
  bottom: 0;
  margin-top: 20px;
}
