{% extends "base_generic.html" %}
{% load bootstrap4 %}
{% load i18n %}
{% block content %}
  <br><br>
  <h2>Geocity</h2>
  <h3>Vous avez perdu votre mot de passe ?</h3>
  <p>Saisissez votre email ci-dessous et nous vous en enverrons un nouveau</p>
  <form method="POST">
    {% csrf_token %}
    {% bootstrap_form form %}
    <input class="btn btn-primary" type="submit" value="Envoyer">
    <a href="../../" class="mr-2">{% trans "Retour" %}</a>
  </form>
</div>

{% endblock %}
