{% extends "base_generic.html" %}

{% load static %}
{% load i18n %}
{% load bootstrap4 %}
{% load render_table from django_tables2 %}

{% block content-fluid %}
  <div class="d-flex flex-column flex-md-row center-table">
    <div id="list-info-title">
      {% trans "Vue d'ensemble des demandes archivées" %}
    </div>
  </div>

  {% include "submissions/archived_submission_toolbox_header.html" %}

  <div class="permits-list center-table">
    {% render_table table %}
  </div>
{% endblock %}
{% block scripts %}
  <script src="{% static 'js/archived_request_bulk_download.js' %}"></script>
{% endblock %}
