{% extends "base_generic.html" %}

{% load static %}
{% load bootstrap4 %}
{% load i18n %}
{% load submissions_extras %}

{% block stylesheets %}
  {{ block.super }}
  <link rel="stylesheet" type="text/css" href="{% static 'libs/js/jquery-ui-custom/jquery-ui.min.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'customWidgets/RemoteAutocomplete/remoteautocomplete.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'css/contactform.css' %}">
{% endblock %}

{% block content %}

  {% submission_progressbar steps StepType.CONTACTS %}
  <form method="post">
    {% csrf_token %}
    {{ formset.management_form }}
    <h3>{{ config.ACTORS_STEP }}</h3>
    <hr>
    {% directives_and_legal_cta submission %}
    {% if requires_payment %}
      <h4>Adresse de facturation si différente de celle de l'auteur ({{ userprofile.first_name }} {{ userprofile.last_name }})</h4>
      {% bootstrap_form creditorform layout='horizontal' %}
      <hr>
    {% endif %}
    <h4>Contacts</h4>
    <div id="forms-container">
        {% for form in formset %}
            <input id="self_contact_{{ forloop.counter }}" type="checkbox" onclick="update_form_value( '{{ forloop.counter0 }}', {{ userprofile }} )" />
            <label for="self_contact_{{ forloop.counter }}">{% trans "Reprendre mes informations" %}</label>
           {{ form.media }}
          {% bootstrap_form form layout='horizontal' %}
      <hr>
        {% endfor %}
      </div>
    {% buttons %}
      {% if previous_step %}
        <a href="{{ previous_step.url }}" class="mr-2">{% trans "Retour" %}</a>
      {% endif %}
      <button class="btn btn-primary">{% trans "Enregistrer et continuer" %}</button>
    {% endbuttons %}
  </form>
{% endblock %}


{% block scripts %}
  <script src="{% static 'js/submission_contacts.js' %}"></script>

{% endblock %}
