{% extends "base_generic.html" %}
{% load bootstrap4 %}
{% load i18n %}
{% load submissions_extras %}
{% load crispy_forms_tags %}


{% block content %}
  {% submission_progressbar steps StepType.FIELDS %}
  <h3>{{ config.PROPERTIES_STEP }} </h3>
  <hr />
  {% directives_and_legal_cta submission %}
  <form method="post">
    <fieldset>
    <legend>
      {% if submission.requires_online_payment %}
        {{ submission.get_form_for_payment.name }}
      {% endif %}
    </legend>
    </fieldset>
    {% include "submissions/_submission_prices.html" %}
    {% csrf_token %}
    {{ submission_form.media }}
    {% crispy submission_form %}
    {% buttons %}
      {% if previous_step.url %}
        <a href="{{ previous_step.url }}" class="mr-2">{% trans "Retour" %}</a>
      {% endif %}

      <button class="btn btn-primary">{% trans "Enregistrer et continuer" %}</button>
    {% endbuttons %}
  </form>
{% endblock %}
