{% extends "base_generic.html" %}

{% load static %}
{% load i18n %}
{% load bootstrap4 %}
{% load render_table from django_tables2 %}


{% block content-fluid %}
  <div id="archive-in_progress" class="container-fluid mb-4 display-none">
      <div class="alert alert-info">
        {% trans "L'archivage des demandes est en cours. Une fois terminé, elles seront visible " %}
        <a href="{% url "submissions:archived_submission_list" %}">ici</a>.
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
  </div>
  <div class="d-flex flex-column flex-md-row center-table">
    <div id="list-info-title">
      {% trans "Vue d'ensemble de vos demandes" %}
    </div>
  </div>

  {% include "submissions/submission_toolbox_header.html" %}

  <div class="permits-list center-table">
    {% render_table table %}
  </div>

{% endblock %}
{% block scripts %}
  <script src="{% static 'js/submission_archive.js' %}"></script>
{% endblock %}
