.block-page-break {
  page-break-before: always;
}

pre {
  white-space: pre-wrap;
}

table {
  width: 100%;
  border-collapse: collapse;
}

td, th {
  border-bottom: solid 1px;
}

.bold {
  font-weight: bold;
}

/* sections */
.section-map img {
  max-width:100%;
  max-height:100%;
}

.section-author, .section-status {
  width: 49%;
  float: left;
}

.section-map, .section-amendpropertycomment, .section-detail, .section-file, .section-horizontalrule, .section-paragraph, .section-validationcomment, .section-contact, .section-planning {
  width: 100%;
  clear:both;
}

.flex_container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
}

.flex_item-40 {
  width:38%;
}

.flex_item-50 {
  width:48%;
}

.flex_item-60 {
  width:58%;
}

.flex_item-100 {
  width:100%;
}

.section-status {
  text-align: right;
}

/* flex boxes */
.flex_container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  /* flex-flow: column wrap; */
  justify-content: flex-start;
  /* align-items: stretch; */
  /* align-content: flex-start; */
  width: 100%;
}

/* based on https://www.w3schools.com/tags/tag_hn.asp */
.h1 {
  display: block;
  font-size: 2em;
  margin-top: 0.67em;
  margin-bottom: 0.67em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
}

.h2 {
  display: block;
  font-size: 1.5em;
  margin-top: 0.83em;
  margin-bottom: 0.83em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
}

.h3 {
  display: block;
  font-size: 1.17em;
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
}

.h4 {
  display: block;
  font-size: 1em;
  margin-top: 1.33em;
  margin-bottom: 1.33em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
}

.h5 {
  display: block;
  font-size: .83em;
  margin-top: 1.67em;
  margin-bottom: 1.67em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
}

.h6 {
  display: block;
  font-size: .67em;
  margin-top: 2.33em;
  margin-bottom: 2.33em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
}

/* Overrides from the layout */
@page {
  /* page size */
  size: {{report.layout.width}}mm {{report.layout.height}}mm;
  margin-top: {{report.layout.margin_top}}mm;
  margin-right: {{report.layout.margin_right}}mm;
  margin-bottom: {{report.layout.margin_bottom}}mm;
  margin-left: {{report.layout.margin_left}}mm;

  /* background */
  {% if report.layout.background %}
  background-image: url("{{report.layout.background.url}}");
  {% endif %}
  background-size: {{report.layout.width}}mm {{report.layout.height}}mm;
  background-position: -{{report.layout.margin_left}}mm -{{report.layout.margin_top}}mm;
  font-family: "{{report.layout.font_family}}";
}

body {
  font-family: "{{report.layout.font_family}}";
  font-size: {{report.layout.font_size_section}}px;
}

@media print {
  .pagebreak { page-break-before: always; } /* page-break-after works, as well */
}
