{% extends "reports/sections/_section.html" %}

{% block title %}
    {{section.title}}
{% endblock %}

{% block content %}
    {% if request_data.properties.amend_fields %}
        <div class="flex_container">
            <div class="flex_item-100">
                {% for form, commentaires in request_data.properties.amend_fields.items %}
                    <h3>{{form}}</h3>
                    {% for key, commentaire in commentaires.items %}
                        <span class="bold">{{key}} : </span>{{commentaire}}<br>
                    {% endfor %}
                {% endfor %}
            </div>
        </div>
    {% else %}
        <p>Aucun contact pour cette demande</p>
    {% endif %}
{% endblock %}
