{% extends "reports/sections/_section.html" %}

{% block title %}
    {{section.title}}
{% endblock %}

{% block content %}
    {% if request_data.properties.validations %}
        <div class="flex_container">
            <div class="flex_item-100">
                {% for service, validation in request_data.properties.validations.items %}
                <h3>Validation: {{service}}</h3>
                <span class="bold">Statut : </span>{{validation.validation_status}}<br>
                <span class="bold">Commentaire (avant) : </span>{{validation.comment_before}}<br>
                <span class="bold">Commentaire (pendant) : </span>{{validation.comment_during}}<br>
                <span class="bold">Commentaire (après) : </span>{{validation.comment_after}}<br>
                {% endfor %}
            </div>
        </div>
    {% else %}
        <p>Aucune propriété pour cette demande</p>
    {% endif %}
{% endblock %}
